:root {
  --primary-color: #181818;
  --secondary-color: #282828;
  --complementary-color: #4494b6;
  --button-color: #198e19;
}

* {
  box-sizing: border-box;
  color: #fff;
}

body {
  font-family: "Poppins", sans-serif;

  background: var(--primary-color);
  margin: 0;
}

h1 h2 h3 h4 h5 h6 p div {
  padding: 0;
  margin: 0;
}

nav {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem 0;
}

#section-header {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  position: relative;
  margin-bottom: 4rem;

  img {
    padding: 2rem;
  }
  .header-text {
    width: 35%;
    padding: 1rem;
  }

  .float {
    position: absolute;
    padding: 0;
    opacity: 0.9;
    height: 5rem;
    width: 5rem;
  }
  .float-1 {
    top: 1rem;
    left: 22rem;
  }
  .float-2 {
    top: 12rem;
    left: 2rem;
  }
  .float-3 {
    top: 18rem;
  }
}

#section-body {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 8rem;
  .feature-container {
    .img-container {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    width: 315px;
    height: 368px;
    background-color: var(--secondary-color);
    padding: 2rem;
    margin: 0.5rem;
    border-radius: 15px;
  }
}

#contact {
  padding: 3rem;
  .contact-icons {
    text-align: center;
    .icon {
      padding: 2rem;
    }
  }
  .version {
    padding: 3rem;
    text-align: center;
  }
}

/*** APPLICATION ***/
/* GLOBAL STYLES*/
#app-container {
  text-align: center;
  padding: auto;

  img {
    height: 120px;
    width: 140px;
  }
}

.btn {
  height: 50px;
  width: 200px;
  background: var(--complementary-color);
  color: #fff;
  font-size: 1.5rem;
  outline: auto;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  user-select: none;
}
.btn:hover {
  cursor: pointer;
  box-shadow: 1.4rem white;
  transform: translateY(-0.1rem);
  transition: transform 154ms;
}

.btn:active {
  box-shadow: inset 0 0 30px rgba(0, 0, 0, 0.25);
}

.btn[disabled]:hover {
  cursor: not-allowed;
  box-shadow: none;
  transform: none;
}

/* APPLICATION RESULT PAGE */
.app-buttons {
  margin: 1.5rem 0;

  .start-button {
    margin: 2rem 0;
  }
}

/* CATEGORIES PAGE */
.categories {
  form {
    select,
    option {
      height: 50px;
      width: 400px;
      color: var(--secondary-color);
      border-radius: 3px;
      font-size: 1.1rem;
    }
    option {
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }

    button {
      margin: 2rem 0;
    }
  }
}

/* QUIZ PAGE */
#quizz-container {
  display: flex;
  position: relative;
  margin: 1rem 2rem;
  padding: auto;
  #quiz-body {
    display: inline-block;
    text-align: left;
    padding: auto;
    margin: auto;

    p {
      margin: 0;
    }

    .head-text {
      display: flex;
      justify-content: space-between;
    }

    .question-number {
      padding: 1rem auto;
      margin-bottom: 1rem;
    }

    .user-score {
      display: flex;
      padding: 1rem auto;
      margin-bottom: 1rem;

      .score-text {
        padding-left: 1rem;
      }
    }

    .question {
      padding: auto;
      margin-bottom: 2rem;
      width: auto;
    }

    .choice-container:hover {
      cursor: pointer;
      transform: translateY(-0.1rem);
      transition: transform 154ms;
    }

    .choice-container {
      padding: 0%;
      display: flex;
      width: auto;
      margin-bottom: 2rem;
      // width: 100%;
      font-size: 1.2rem;
      border: 0.2rem solid var(--complementary-color);
      background-color: var(--primary-color);

      .choice-prefix {
        padding: 1.2rem;
        background-color: var(--complementary-color);
        color: white;
      }

      .choice-text {
        padding: 1.4rem 1rem;
        width: 100%;
      }
    }

    .navigate-buttons {
      display: flex;
      .submit-button-container {
        padding-right: 1rem;
      }
    }

    .selected-answer {
      background-color: white;
      .choice-text {
        color: var(--complementary-color);
      }
    }

    .correct {
      background-color: #198e19;
    }

    .incorrect {
      background-color: #dc3545;
    }
  }
}

.disable-options {
  pointer-events: "none";
}

.hidden {
  opacity: 0;
}

/* RESULTS PAGE */
.results-body {
  display: inline-block;
  text-align: center;
  padding: auto;
  margin: auto;

  h1 {
    font-size: 3rem;
  }

  .final-text {
    font-size: 2rem;
  }

  form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    input {
      margin-bottom: 1rem;
      width: auto;
      padding: 1.5rem;
      font-size: 1.8rem;
      border: solid var(--complementary-color);
      border-radius: 3px;
      box-shadow: 0 0.1rem 1.4rem 0 rgba(96, 97, 97, 0.5);
      color: var(--primary-color);
    }

    input::placeholder {
      color: #4a4949;
    }
  }

  .btn-result {
    margin: 1rem;
  }

  .app-buttons {
    margin-top: 3rem;
  }
}

/* LOADER */
#loader {
  position: absolute;
  top: 40%;
  left: 40%;
  border: 1.6rem solid white;
  border-radius: 50%;
  border-top: 1.6rem solid var(--complementary-color);
  width: 12rem;
  height: 12rem;
  animation: spin 2s linear infinite;

  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
}
